* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background: url("../public/img/earth-cc0.jpeg") black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  overflow: auto;
}

.nav {
  width: 100vw;
  background-color: rgb(8, 4, 63);
}

.nav > * {
  padding:1rem;
}

.footer {
  color: white;
}

.spacebox {
  margin: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.705);
  border-radius: 5px;
}

.loc-error {
  background: rgba(238, 0, 0, 0.664);
  font-size: 20px;
  font-weight: bold;
}

.loc-error > p {
  margin-bottom: 0;
}

.horizontal-flex {
  display: flex;
  justify-content: space-evenly;
}

.day-forecast {
  color: black;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.897);
}

.movie {
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.897);
}

.examinable {
  transition: all 0.5s ease-in-out;
}

.examinable:hover {
  background-color: rgba(195, 195, 195, 0.897);
  cursor: pointer;
  transform: scale(1.2);
}

.poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
