* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background: url("../public/img/earth-cc0.jpeg") black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}

.nav {
  background-color: rgb(3, 1, 29);
}

.nav > * {
  padding:1rem;
}

.footer {
  color: white;
}

.globe > * {
  margin: 1rem 10rem;
  padding: 1rem;
  background: rgba(0.6, 0.6, 0.6, 0.4);
  border-radius: 5px;
}

.globe > *:first-child {
  margin-top: 5rem;
}
