* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background: url("../public/img/earth-cc0.jpeg") black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}

.nav {
  background-color: rgb(3, 1, 29);
}

.nav > * {
  padding:1rem;
}

.footer {
  color: white;
}

.main > * {
  margin: 1rem 10rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.main > *:first-child {
  margin-top: 5rem;
}

.loc-error {
  background: rgba(200, 0, 0, 0.4);
  font-size: 20px;
  font-weight: bold;
}

.loc-error > p {
  margin-bottom: 0;
}
